<div class="row">
  <div class="col">
    <h3>Daily Trainings: Duration</h3>
    <ngx-charts-line-chart [view]="[600, 200]" [results]="trainingDurationLineChartData" [xAxis]="true" [yAxis]="true" [legend]="true"
      [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Date'" [yAxisLabel]="'Value'" [autoScale]="true">
    </ngx-charts-line-chart>
  </div>
    <div class="col">
    <h3>Daily Trainings: Calories</h3>
    <ngx-charts-line-chart [view]="[600, 200]" [results]="trainingCaloriesLineChartData" [xAxis]="true" [yAxis]="true" [legend]="true"
      [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Date'" [yAxisLabel]="'Value'" [autoScale]="true">
    </ngx-charts-line-chart>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col">
    <h3>Daily Nutrition: Calories</h3>
    <ngx-charts-line-chart [view]="[600, 200]" [results]="nutritionCaloriesLineChartData" [xAxis]="true" [yAxis]="true" [legend]="true"
      [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Date'" [yAxisLabel]="'Value'" [autoScale]="true">
    </ngx-charts-line-chart>
  </div>
    <div class="col">
    <h3>Daily Nutrition: Fats/Proteions/Carbos</h3>
    <ngx-charts-line-chart [view]="[600, 200]" [results]="nutritionFPCLineChartData" [xAxis]="true" [yAxis]="true" [legend]="true"
      [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Date'" [yAxisLabel]="'Value'" [autoScale]="true">
    </ngx-charts-line-chart>
  </div>
</div>

<h3>Nutrition balance</h3>
    <ngx-charts-pie-chart [view]="[500, 500]" [results]="pieChartData" [legend]="true" [labels]="true" [doughnut]="false" [explodeSlices]="false" [gradient]="true">
          </ngx-charts-pie-chart>

  

<!--
  

    <h3>Weight Statistics</h3>
    <ngx-charts-line-chart [view]="[800, 300]" [results]="weigthLineChartData" [xAxis]="true" [yAxis]="true" [legend]="true"
      [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Date'" [yAxisLabel]="'Value'" [autoScale]="true">
    </ngx-charts-line-chart>

    <br>
    <h3>Nutrition balance</h3>
    <ngx-charts-pie-chart [view]="[500, 500]" [results]="pieChartData" [legend]="true" [labels]="true" [doughnut]="false" [explodeSlices]="false" [gradient]="true">
          </ngx-charts-pie-chart>


<div class="row">
  <div *ngFor="let d of dateTrack" class="col">
    <div class="day-track" [ngStyle]="getStyles(d)">{{ d.getDate() }}</div>
  </div>
</div>
<br>
<br>

   <ngx-charts-pie-chart [view]="[300, 300]" [results]="pieChartData" [legend]="false" [labels]="true" [doughnut]="false" [explodeSlices]="false" [gradient]="true">
          </ngx-charts-pie-chart>
          <ngx-charts-line-chart [view]="[500, 300]" [results]="lineChartData" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Date'" [yAxisLabel]="'Value'" [autoScale]="true">
          </ngx-charts-line-chart>

  <h3>Trainings</h3>
  <table class="table table-striped">
        <thead>
            <th scope="col">Date</th>
            <th scope="col">Training type</th>
            <th scope="col">Duration</th>
            <th scope="col">Calories burned</th>
        </thead>
        <tbody>
            <tr *ngFor="let training of trainings">
                <td>
                    {{ training.entry.dateOfEntry }}
                </td>
                <td>
                    {{ training.trainingType.toString() }}
                </td>
                <td>
                    {{ training.duration }}
                </td>
                <td>
                    {{ training.caloriesBurned }}
                </td>
            </tr>
        </tbody>
      </table>
    <br>
      <h3>Nutrition</h3>
      <table class="table table-striped">
        <thead>
          <th>Date</th>
          <th>Calories</th>
          <th>Carbohydrates</th>
          <th>Proteins</th>
          <th>Fats</th>
        </thead>
        <tbody>
          <tr *ngFor="let nutrition of nutritions">
            <td>{{ nutrition.entry.dateOfEntry }}</td>
            <td>{{ nutrition.calories }}</td>
            <td>{{ nutrition.carbohydrates }}</td>
            <td>{{ nutrition.protein }}</td>
            <td>{{ nutrition.fats }}</td>
          </tr>
        </tbody>
      </table>
  
  -->